header.header
  .header__container
    .header__logo   
      img(src="images/logo.svg", width="292", height="108", alt="Логотип школы Летово")
    .header__woman
      img(src="images/woman.svg", width="243", height="55", alt="Логотип Woman.ru")
