header.header
  .header__container
    a.header__logo(href="https://letovo.ru/?utm_source=HSM&utm_medium=specproekt&utm_content=Logo&utm_campaign=letovo_HSM_spec", target="_blank")
      img(src="images/logo.svg", width="292", height="108", alt="Логотип школы Летово")
    .header__woman
      img(src="images/woman.svg", width="243", height="55", alt="Логотип Woman.ru")
