.btn {
  display: inline-block;
  vertical-align: top;
  padding: vw(25) vw(36);
  font-size: vw(32);
  line-height: 1;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;

  border-radius: vw(50);
  border: none;
  background-color: $blue-0a;

  transition: background-color 0.3s ease;

  appearance: none;
  cursor: pointer;

  @include min(1920) {
    padding: 25px 36px;
    font-size: 32px;
    border-radius: 50px;
  }

  @include max(sm) {
    padding: vw(23, 800) vw(36, 800);
    font-size: vw(32, 800);
    border-radius: vw(50, 800);
  }

  @include hover {
    outline: none;
    background-color: $blue-15;
  }
}
