.characteristics {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.done {
    #{$self}__item:not(#{$self}__item--selected) {
      pointer-events: none;
    }
  }

  &.blocked {
    #{$self}__item {
      pointer-events: none;
    }
  }

  &__item {
    padding: 0 vw(8);
    font-size: vw(64);
    line-height: 1;
    letter-spacing: 0.02em;
    color: $white;
    font-weight: 600;

    border: none;
    background-color: transparent;
    transition: color 0.3s ease;

    appearance: none;
    cursor: pointer;

    @include min(1920) {
      padding: 0 8px;
      font-size: 64px;
    }

    @include max(sm) {
      padding: 0 vw(4, 800);
      font-size: vw(36, 800);
    }

    @include hover {
      color: $blue-15;
    }

    &--selected {
      color: $blue-0a;
    }

    &--s1 {
      font-size: 66px;
    }

    &--s2 {
      font-size: 75px;
    }

    &--s3 {
      font-size: 80px;
    }

    &--s4 {
      font-size: 90px;
    }

    &--s5 {
      font-size: 101px;
    }

    &--s6 {
      font-size: 148px;
    }

    //font-size: 66px;
    //font-size: 75px;
    //font-size: 80px;
    //font-size: 90px;
    //font-size: 101px;
    //font-size: 148px;
  }
}
