.characteristics {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include max(sm) {
    flex-direction: column;
  }

  &.done {
    #{$self}__item:not(#{$self}__item--selected) {
      pointer-events: none;
    }
  }

  &.blocked {
    #{$self}__item {
      pointer-events: none;
    }
  }

  &__item {
    padding: 0 vw(8);
    font-size: vw(64);
    line-height: 1;
    letter-spacing: 0.02em;
    color: $white;
    font-weight: 600;

    border: none;
    background-color: transparent;
    transition: color 0.3s ease;

    appearance: none;
    cursor: pointer;

    @include min(1920) {
      padding: 0 8px;
      font-size: 64px;
    }

    @include max(sm) {
      padding: 0 vw(4, 800);
      font-size: vw(48, 800);
      align-self: center;
    }

    @include hover {
      color: $blue-15;
    }

    &--selected {
      color: $blue-0a;
    }
  }
}
