.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 100vh;
  min-height: vw(900);
  padding: vw(66) 0;

  background-color: $yellow-fd;
  background-repeat: no-repeat;
  background-position: left 50% bottom 0, left 50% bottom vw(-655);
  background-size: vw(1138) auto, vw(1597) vw(1597);
  

  @include min(1920) {
    min-height: 900px;
    padding: 66px 0;

    background-position: left 50% bottom 0, left 50% bottom -655px;
    background-size: 1138px auto, 1597px 1597px;
  }

  @include max(sm) {
    display: block;
    padding: 0;
    //padding: vw(128, 800) 0 vw(305, 800);
    background-size: vw(908, 800) auto, vw(1597, 800) vw(1597, 800);
    background-position: left 50% bottom 0, left 50% bottom vw(-798, 800);
  }

  &__container {
    height: vw(768);
    align-self: center;

    @include min(1920) {
      height: 768px;
    }

    @include max(sm) {
      height: auto;
      padding-bottom: vw(135, 800);
    }
  }

  &__title {
    max-width: vw(870);
    margin: 0 auto vw(25);
    font-size: vw(96);
    line-height: 1;
    color: $blue-0a;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;

    @include min(1920) {
      max-width: 870px;
      margin: 0 auto 25px;
      font-size: 96px;
    }

    @include max(sm) {
      max-width: vw(700, 800);
      margin-bottom: vw(30, 800);
      font-size: vw(76, 800);
    }
  }

  &__text {
    max-width: vw(906);
    margin: 0 auto vw(27);
    font-size: vw(32);
    line-height: 1;
    letter-spacing: 0.02em;
    color: $blue-0a;
    text-align: center;
    font-weight: 600;

    @include min(1920) {
      max-width: 906px;
      margin: 0 auto 27px;
      font-size: 32px;
    }

    @include max(sm) {
      max-width: vw(670, 800);
      margin-bottom: vw(80, 800);
      font-size: vw(24, 800);
    }
  }

  &__btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    min-width: vw(300);

    @include min(1920) {
      min-width: 300px;
    }

    @include max(sm) {
      min-width: vw(300, 800);
    }
  }
}
