.result {
  $self: &;
  display: flex;
  height: 100vh;
  padding: vw(157) 0 0;

  background-color: $yellow-fd;
  background-repeat: no-repeat;
  background-position: left 50% bottom vw(-655);
  background-size: vw(1597) vw(1597);
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 100%
  );

  @include min(1920) {
    padding: 157px 0 0;

    background-position: left 50% bottom -655px;
    background-size: 1597px 1597px;
  }

  @include max(sm) {
    display: block;
    padding: 0;
    //padding: vw(128, 800) 0 0;

    background-size: vw(1597, 800) auto;

    background-position: left 50% bottom vw(-832, 800);
  }

  &--communication {
    #{$self}__image {
      width: vw(625);
      margin-left: vw(-295);
      margin-top: vw(-47);

      @include min(1920) {
        width: 625px;
        margin-left: -295px;
        margin-top: -47px;
      }

      @include max(sm) {
        width: auto;
        height: vw(521, 800);
        margin: vw(26, 800) auto 0;
      }
    }

    #{$self}__main {
      position: relative;
      left: vw(54);
      padding-left: vw(16);

      @include min(1920) {
        padding-left: 16px;
        left: 54px;
      }

      @include max(sm) {
        position: static;
        left: 0;
        padding-left: 0;
      }

      &-text {
        padding-right: vw(34);

        @include min(1920) {
          padding-right: 34px;
        }

        @include max(sm) {
          padding-right: 0;
        }
      }
    }
  }
  &--cooperation {
    #{$self}__image {
      width: vw(657);
      margin-left: vw(-287);
      margin-top: vw(5);

      @include min(1920) {
        width: 657px;
        margin-left: -287px;
        margin-top: 5px;
      }

      @include max(sm) {
        width: auto;
        height: vw(521, 800);
        margin: vw(26, 800) auto 0;
      }
    }

    #{$self}__main {
      padding-left: vw(30);

      @include min(1920) {
        padding-left: 30px;
      }

      @include max(sm) {
        padding-left: 0;
      }

      &-text {
        padding-right: vw(34);

        @include min(1920) {
          padding-right: 34px;
        }

        @include max(sm) {
          padding-right: 0;
        }
      }
    }
  }
  &--self-organization {
    #{$self}__title {
      margin-top: vw(-10);

      @include min(1920) {
        margin-top: -10px;
      }

      @include max(sm) {
        margin-top: 0;
      }
    }

    #{$self}__image {
      width: vw(510);
      margin-left: vw(-195);
      margin-top: vw(9);

      @include min(1920) {
        width: 510px;
        margin-left: -195px;
        margin-top: 9px;
      }

      @include max(sm) {
        width: auto;
        height: vw(521, 800);
        margin: vw(26, 800) auto 0;
      }
    }

    #{$self}__main {
      margin-left: vw(80);

      @include min(1920) {
        margin-left: 80px;
      }

      @include max(sm) {
        margin-left: 0;
      }

      &-bottom {
        margin-top: 26px;

        @include min(1920) {
          margin-top: 26px;
        }

        @include max(sm) {
          margin-top: vw(32, 800);
        }
      }
    }
  }
  &--study {
    #{$self}__title {
      margin-top: vw(-7);

      @include min(1920) {
        margin-top: -7px;
      }

      @include max(sm) {
        margin-top: 0;
      }
    }

    #{$self}__image {
      width: vw(468);
      margin-left: vw(-211);
      margin-top: vw(3);

      @include min(1920) {
        width: 468px;
        margin-left: -211px;
        margin-top: 3px;
      }

      @include max(sm) {
        width: auto;
        height: vw(521, 800);
        margin: vw(26, 800) auto 0;
      }
    }

    #{$self}__main {
      margin-left: vw(139);
      margin-top: vw(-8);

      @include min(1920) {
        margin-left: 139px;
        margin-top: -8px;
      }

      @include max(sm) {
        margin-left: 0;
        margin-top: 0;
      }

      &-text {
        padding-right: vw(34);

        @include min(1920) {
          padding-right: 34px;
        }

        @include max(sm) {
          padding-right: 0;
        }
      }

      &-bottom {
        margin-top: vw(31);

        @include min(1920) {
          margin-top: 31px;
        }

        @include max(sm) {
          margin-top: vw(32, 800);
        }
      }
    }
  }
  &--critical-thinking {
    #{$self}__title {
      max-width: vw(720);
      margin-left: auto;
      margin-right: auto;
      margin-top: vw(-74);
      line-height: 0.87;

      @include min(1920) {
        max-width: 720px;
        margin-top: -74px;
      }

      @include max(sm) {
        max-width: none;
        margin-top: 0;
      }
    }

    #{$self}__image {
      width: vw(311);
      margin-left: vw(-84);
      margin-top: vw(-56);

      @include min(1920) {
        width: 311px;
        margin-left: -84px;
        margin-top: -56px;
      }

      @include max(sm) {
        width: auto;
        height: vw(521, 800);
        margin: vw(26, 800) auto 0;
      }
    }

    #{$self}__main {
      margin-left: vw(172);
      margin-top: vw(-14);

      @include min(1920) {
        margin-left: 172px;
        margin-top: -14px;
      }

      @include max(sm) {
        margin-left: 0;
        margin-top: 0;
      }

      &-text {
        padding-right: vw(34);

        @include min(1920) {
          padding-right: 34px;
        }

        @include max(sm) {
          padding-right: 0;
        }
      }

      &-bottom {
        margin-top: vw(31);

        @include min(1920) {
          margin-top: 31px;
        }

        @include max(sm) {
          margin-top: vw(32, 800);
        }
      }
    }
  }

  &.hide {
    display: none;
  }

  &__container {
    align-self: center;

    @include max(sm) {
      padding-top: vw(238, 800);
    }
  }

  &__grid {
    display: flex;

    @include max(sm) {
      flex-direction: column;
    }
  }

  &__image {
    position: relative;
    flex-shrink: 0;

    @include max(sm) {
      order: 1;
    }

    img {
      display: block;
      width: 100%;
      height: auto;

      @include max(sm) {
        width: auto;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__main {
    width: vw(835);
    flex-shrink: 0;

    @include min(1920) {
      width: 835px;
    }

    @include max(sm) {
      width: 100%;
    }

    &-text {
      font-size: vw(24);
      line-height: 1.5;
      color: $blue-0a;
      letter-spacing: 0.02em;

      @include min(1920) {
        font-size: 24px;
      }

      @include max(sm) {
        font-size: vw(24, 800);
        text-align: center;
      }
    }

    &-bottom {
      display: flex;
      width: 100%;
      margin-top: vw(50);

      @include min(1920) {
        margin-top: 50px;
      }

      @include max(sm) {
        margin-top: vw(32, 800);
        flex-direction: column;
      }
    }

    &-action {
      display: flex;
      flex-direction: column;

      @include max(sm) {
        align-self: center;
      }
    }

    &-btn {
      align-self: flex-start;

      @include max(sm) {
        align-self: center;
      }

      & + & {
        margin-top: vw(20);

        @include min(1920) {
          margin-top: 20px;
        }

        @include max(sm) {
          margin-top: vw(20, 800);
        }
      }
    }

	  &-right{
		  align-self: flex-start;
		  margin-left: auto;
		  margin-top: vw(-10);
		  @include min(1920) {
			  margin-top: -10px;
		  }
		  @include max(sm) {
			  margin-top: vw(22, 800);
			  margin-left: 0;
			  align-self: center;
		  }
	  }

    &-social {
    }
	  &-info{
		  font-size: vw(20);
		  line-height: 1.5;
		  color: $blue-0a;
		  letter-spacing: 0.02em;
		  margin-top: vw(15);

		  @include min(1920) {
			  font-size: 20px;
			  margin-top: 15px;
		  }

		  @include max(sm) {
			  font-size: vw(20, 800);
			  margin-top: vw(15, 800);
			  text-align: center;
		  }
	  }
  }

  &__title {
    margin: 0 auto vw(54);
    font-size: vw(96);
    line-height: 1;
    color: $blue-0a;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 700;

    @include min(1920) {
      margin: 0 auto 54px;
      font-size: 96px;
    }

    @include max(sm) {
      margin-bottom: vw(28, 800);
      font-size: vw(72, 800);
    }
  }
}
