extends ../layouts/default

block vars
	-
		const page = {
			title: 'Главная'
		};

block main
	#fullpage
		section.hero.section(style="background-image: url(images/kinds.svg), radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgba(255, 255, 255, 0) 100%);")
			.hero__container.container
				h1.hero__title Какой он, ваш ребенок?
				.hero__text Узнайте, какие компетенции помогут школьнику стать востребованным специалистом
				a.hero__btn.btn(href="#") Узнать

		section.director.section 
			.director__container.container 
				.director__intro Михаил Мокринский, директор школы «Летово»:
			
				.director__image 
					img(src="images/director.png", srcset="images/director@2x.png 2x", width="805", height="667", alt="Михаил Мокринский")
				.director__main
					blockquote «Мы не ждем, что мир встанет с ног на голову, но с большой вероятностью в каждой сфере понимание профессионализма обновится. Как сформировать навык в химии, физике, биологии знают многие поколения учителей. Как сделать так, чтоб этот навык стал человеческим, переносимым из одной сферы в другую, а значит, имел право называться компетенцией — вот вызов, стоящий перед системой образования».
					.director__main-bottom
						.director__main-action
							a.director__main-btn.btn(href="https://letovo.ru/?utm_source=HSM&utm_medium=specproekt&utm_content=Button&utm_campaign=letovo_HSM_spec", target="_blank") Перейти на сайт
						.director__main-social.social
							each item in SOCIALS2
								a.social__item(class="social__item--" + item.id, href= item.link)
									+icon(item.id)(width= item.width, height= item.height)
					
					.director__main-notify
						p.large 13 февраля — последний день приема заявок в «Летово».
						p Чтобы узнать все особенности поступления — переходите по <a href="https://letovo.ru/?utm_source=HSM&utm_medium=specproekt&utm_content=Ssylka&utm_campaign=letovo_HSM_spec", target="_blank">ссылке</a>.

		section.manual.section
			.manual__container.container
				//-.manual__intro Выберите 3 ключевые характеристики вашего ребенка, поставив на первое место наиболее ярко выраженную
				.manual__text
					p Времена, когда про школьника говорили: <i>«С математикой хорошо, будет инженером»</i>, — прошли. Сейчас, решая, чем помочь ребенку в учебе и выборе будущего, стоит сконцентрироваться на метапредметных навыках — тех самых универсальных компетенциях, которые важны в любой профессиональной сфере. 
					p Какой он, ваш ребенок? Он любит в одиночестве обдумывать захватившую его идею? у него всегда есть план, которому он следует? А может, он очень общителен? 
					p Выберите три характеристики, которые лучше всего описывают вашего ребенка (самую точную характеристику отметьте первой), и узнайте, какой из имеющихся у него метапредметных навыков самый перспективный — и чем это хорошо для его образовательного и карьерного трека.
				
				button.manual__btn.btn(type="button") Узнать подробнее

		section.choice.section
			.choice__container.container
				.choice__intro Выберите 3 ключевые характеристики вашего ребенка, поставив на первое место наиболее ярко выраженную
				.choice__list.characteristics
					each item in CHARACTERISTICS
						button.characteristics__item(type="button", data-id= item.id)= item.text
				button.choice__btn.btn(type="button") Получить результат

		section.result.hide
			.result__container.container
				h2.result__title 
				.result__grid
					.result__image

					.result__main
						.result__main-text

						.result__main-bottom
							.result__main-action
								a.result__main-btn.btn(href="https://letovo.ru/?utm_source=HSM&utm_medium=specproekt&utm_content=Zayavka&utm_campaign=letovo_HSM_spec", target="_blank") Подать заявку
								button.result__main-btn.btn.btn--small.__js_reset-result(type="button") Вернуться к тесту
							.result__main-social.social
								each item in SOCIALS
									a.share-link.social__item(class="social__item--" + item.id, href="#")
										+icon(item.id)(width= item.width, height= item.height)
					
		
