-
	const CHARACTERISTICS = [
		{text: 'Эффективно общающийся', num: '2', mod: '', id: 'g'},
		{text: 'Готовый к оправданному риску', num: '4', mod: '', id: 'f'},
		{text: 'Любознательный', num: '5', mod: '', id: 'a'},
		{text: 'Неравнодушный', num: '2', mod: '', id: 'c'},
		{text: 'Мотивированный', num: '3', mod: '', id: 'i'},
		{text: 'Принципиальный', num: '3', mod: '', id: 'j'},
		{text: 'Думающий', num: '5', mod: '', id: 'd'},
		{text: 'Гармоничный', num: '1', mod: '', id: 'h'},
		{text: 'Непредвзятый', num: '2', mod: '', id: 'k'},
		{text: 'Знающий', num: '4', mod: '', id: 'b'},
		{text: 'Рефлексирующий', num: '1', mod: '', id: 'e'},
	];

	const SOCIALS = [
		{
			id: 'tw',
			width: '26',
			height: '21',
		},
		{
			id: 'ok',
			width: '19',
			height: '29',
		},
		{
			id: 'fb',
			width: '15',
			height: '28',
		},
		{
			id: 'vk',
			width: '18',
			height: '19',
		}
	];
	const SOCIALS2 = [
		{
			id: 'tw',
			width: '26',
			height: '21',
			link: 'https://www.instagram.com/letovoschool/?utm_source=HSM&utm_medium=specproekt&utm_content=Button&utm_campaign=letovo_HSM_spec'
		},
		{
			id: 'ok',
			width: '19',
			height: '29',
			link: 'https://www.youtube.com/channel/UCSkWjIXaMQ0cCupncopH2-Q?utm_source=HSM&utm_medium=specproekt&utm_content=Button&utm_campaign=letovo_HSM_spec'
		},
		{
			id: 'fb',
			width: '15',
			height: '28',
			link: 'https://www.facebook.com/letovoschool/?utm_source=HSM&utm_medium=specproekt&utm_content=Button&utm_campaign=letovo_HSM_spec'
		},
		{
			id: 'vk',
			width: '18',
			height: '19',
			link: 'https://vk.com/letovoschool?utm_source=HSM&utm_medium=specproekt&utm_content=Button&utm_campaign=letovo_HSM_spec'
		}
	];