-
  const CHARACTERISTICS = [
    {text: 'Любознательный', num: '5', mod: '', id: 'a'},
    {text: 'Знающий', num: '4', mod: '', id: 'b'},
    {text: 'Неравнодушный', num: '2', mod: '', id: 'c'},
    {text: 'Думающий', num: '5', mod: '', id: 'd'},
    {text: 'Рефлексирующий', num: '1', mod: '', id: 'e'},
    {text: 'Готовый к оправданному риску', num: '4', mod: '', id: 'f'},
    {text: 'Эффективно общающийся', num: '2', mod: '', id: 'g'},
    {text: 'Гармоничный', num: '1', mod: '', id: 'h'},
    {text: 'Мотивированный', num: '3', mod: '', id: 'i'},
    {text: 'Принципиальный', num: '3', mod: '', id: 'j'},
    {text: 'Непредвзятый', num: '2', mod: '', id: 'k'},
  ];